<section style="background-color: rgb(103, 190, 100); margin-top: -100px; padding-top: 100px;">
  <div class="container pt-5 pb-5">
    <div class="row justify-content-between" style="flex-wrap: nowrap">


      <div class="col-xs-6">
        <h2
        style="font-family: 'Arial';
        font-size: 20pt;
        line-height: 20pt;">Auto Escola </h2>

        <h1 class="pt-5"
        style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 100pt; color: white;">ABILITARE</h1>
        <h2 class="pt-5" style="font-size: 22pt;"> A maior rede de autoescola do Oeste Baiano!
          <br>
          Cursos completos de primeira habilitação, adição e reciclagem.
        </h2>

        <p class="font-weight-light"> </p>
      </div>


        <div class="col-xs-6">
          <div class="d-flex justify-content-end" >
            <img src="./../../assets/home.png" class="img-fluid" style="max-width: 80%;">
          </div>

        </div>


    </div>

</div>
</section>


<section class="body pt-5">
  <div class="container">
  <h1>
     <span class="badge badge-warning btn-block pt-4 pb-4"
     style="font-size: larger;">Tire sua primeira habilitação!</span>
    </h1>
</div>

<div class="container d-flex justify-content-center pt-5 pb-5">

<div class="card-deck">

      <div class="card border-warning" style="width: 20rem;">
        <div class="card-body">
          <h1 class="card-title">Categoria A</h1>
         <img src="../../assets/moto.png" class="img-fluid card-img-bottom" style="max-width: 100%;">
         <div class="card-footer" style="background-color: transparent;">
         <button type="button" class="btn btn-success btn-lg btn-block">Moto</button>
        </div>
        </div>

      </div>



      <div class="card border-warning" style="width: 20rem;">
        <div class="card-body">
          <h1 class="card-title">Categoria B</h1>
         <img src="../../assets/carro.png" class="img-fluid card-img-bottom pt-5 pb-4" style="max-width: 100%;">
         <div class="card-footer" style="background-color: transparent;">
         <button type="button" class="btn btn-success btn-lg btn-block">Carro</button>
        </div>
        </div>
      </div>



      <div class="card border-warning" style="width: 20rem;">
        <div class="card-body">
          <h1 class="card-title">Categoria AB</h1>
         <img src="../../assets/moto.png" class="img-fluid card-img-bottom" style="max-width: 100%;">
         <div class="card-footer" style="background-color: transparent;">
         <button type="button" class="btn btn-success btn-lg btn-block">Carro e Moto</button>
         </div>
      </div>
    </div>
  </div>

</div>
</section>






