<section style="background-color: rgb(73, 167, 70); margin-top: -100px; padding-top: 100px;">
  <div class="container pt-5 pb-5">
    <div class="row justify-content-between" style="flex-wrap: nowrap">
      <div class="col-xs-6">
        <h2
        style="font-family: 'Arial';
        font-size: 20pt;
        line-height: 10pt;">Auto Escola </h2>

        <h1 class="pt-5"
        style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 100pt; color: rgb(165, 0, 0);">ABILITARE</h1>
        <h2 class="pt-5" style="font-size: 22pt;"> A maior rede de autoescola do Oeste Baiano!
          <br>
          Cursos completos de primeira habilitação, adição e reciclagem.
        </h2>

        <p class="font-weight-light"> </p>
      </div>

        <div class="col-xs-6">
          <div class="d-flex justify-content-end" >
            <img src="./../../assets/home.png" class="img-fluid" style="max-width: 80%;">
          </div>

        </div>


    </div>

</div>
</section>

<div class="container d-flex justify-content-between pt-5 pb-5">


    <div class="col-xs-6">
      <div class="card border-success" style="width: 20rem;">
        <div class="card-body">
          <h3 class="card-title">Primeira Habilitação</h3>
          <p class="card-text">
            A Auto Escola ABILITARE tem o maior número de alunos aprovados!
  Dispomos dos mais experientes instrutores, veículos com direção hidráulica e arcondicionado e o melhor preço de Barreiras.
          </p>

        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="card border-success" style="width: 20rem;">
        <div class="card-body">
          <h3 class="card-title">Primeira Habilitação</h3>
          <p class="card-text">
            A Auto Escola ABILITARE tem o maior número de alunos aprovados!
  Dispomos dos mais experientes instrutores, veículos com direção hidráulica e arcondicionado e o melhor preço de Barreiras.
          </p>

        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="card border-success" style="width: 20rem;">
        <div class="card-body">
          <h3 class="card-title">Primeira Habilitação</h3>
          <p class="card-text">
            A Auto Escola ABILITARE tem o maior número de alunos aprovados!
  Dispomos dos mais experientes instrutores, veículos com direção hidráulica e arcondicionado e o melhor preço de Barreiras.
          </p>

        </div>
      </div>
    </div>

</div>

<div class="container d-flex justifiy-content-between pb-5">

</div>

<div class="container d-flex justify-content-between pb-5">
  <div class="col-xs-6">
    <h3 class="display-3">Aulas com simulador</h3>
    <p class="lead">
      Tranquilidade e segurança utilizando também técnicas modernas de aprendizagem!
      <br> <strong> 8 aulas com simulador grátis!</strong>
    </p>

    <div class="d-flex justify-content-start">
    <img src="./../../assets/car.jpg" class="img-fluid" style="max-width: 50%;">
  </div>
  </div>

  <div class="col-xs-6">
    <p> Além da Habilitação impressa aqui os alunos já saem com sua CNH Digital funcionando
      em seu celular totalmente grátis e sem nehum custo adicional! </p>
  </div>

</div>


